h1{
    text-align: center;
}
.column{
    float: left;
    width: 32.5%;
    border: 2px solid black;
    margin-left: 3px;
    height: 365vh;
}
.column h2{
    text-align: center;
    text-decoration: underline;
}
.row:after{
    display: table;
    content: "";
    clear: both;
}
#main_pic{
    width: 200vh;
    margin-bottom: 10px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.column h3{
    margin-left: 5px;
    margin-top: 40px;
    font-weight:bolder;
}
.column p{
    text-align: center;
}
.column img{
    max-width: 90%;
    display: block;
    margin: 0 auto;
}
.go_back{
    font-size: 20px;
    text-align: center;
}
.arrow_head{
    text-align: center;
    font-size: 50px;
    color: black;
}