@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

body {
height: 100vh;
display: flex;
padding-left: 220px;
text-rendering: optimizelegibility;
-webkit-font-smoothing: antialiased;
background:rgba(239, 155, 54, 0.792) ;
background-image: url("https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.container {
margin: 1.2rem;
background-color: rgba(255, 255, 255, 0.8);
border-radius: 1.5rem;
border: 3px solid black;
transition: transform .3s;
width: clamp(20rem, 55vh, 30rem);
transform: scale(1) translateY(0rem);
animation: scaleUp 1s cubic-bezier(0, 1.06, 0.73, 1.02);
}

@keyframes scaleUp {
0%{
transform: scale(.7) translateY(6rem);
}
100%{
transform: scale(1) translateY(0rem);
}
}

.container .title {
margin-top: 1rem;
text-align: center;
letter-spacing: -0.5px;
font-size: clamp(1.8rem, 6vh, 2.5rem);
}

.container .link {
margin-bottom: 1.5rem;
text-align: center;
}

.container .link a {
color: #5056c6;
text-decoration: none;
}

.container .link a:hover {
text-decoration: underline;
}

#signUp {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

.form-group {
width: 80%;
display: flex;
position: relative;
align-items: center;
margin-bottom: .8rem;
justify-content: center;
}

.form-group input {
border: 0;
width: 100%;
height: 3.2rem;
font-size: 1rem;
border-radius: 1rem;
padding-left: .8rem;
padding-right: .8rem;
color: rgb(0 0 0 / 50%);
background-color: rgb(0 0 0 / 5%);
}

.form-group input:focus {
background-color: rgb(0 0 0 / 8%);
}

.form-group input::placeholder {
font-size: 1rem;
color: rgb(0 0 0 / 50%);
}

.form-group input:focus {
outline: none;
}

.passInput i{
right: 5%;
display: none;
font-size: 1.2rem;
cursor: pointer;
position: absolute;
color: rgb(0 0 0 / 40%);
}

.name-input-group input:first-child {
border-radius: 1rem 0 0 1rem;
border-right: 3px solid #fff;
}

.name-input-group input:last-child {
border-radius: 0 1rem 1rem 0;
border-left: 3px solid #fff;
}

.submitBtn {
border: 0;
width: 80%;
color: #fff;
height: 3.2rem;
cursor: pointer;
margin-top: .2rem;
font-size: 1.2rem;
position: relative;
border-radius: 1rem;
background-color: rgb(72 150 255);
}

.submitBtn i {
top: 35%;
right: 8%;
position: absolute;
}

.submitBtn:hover i,
.submitBtn:focus i{
outline: none;
animation: move .8s cubic-bezier(0.4, 0, 1, 1) infinite alternate;
}

a:focus,
.submitBtn:focus {
outline: none;
}

@keyframes move {
0% {
right: 8%;
}

100% {
right: 6%;
}
}

@-moz-keyframes move {
0% {
right: 8%;
}

100% {
right: 6%;
}
}

@-webkit-keyframes move {
0% {
right: 8%;
}

100% {
right: 6%;
}
}

@-o-keyframes move {
0% {
right: 8%;
}

100% {
right: 6%;
}
}

.terms-services {
display: flex;
margin-top: 1rem;
margin-bottom: 1rem;
justify-content: center;
}

.checkbox {
-webkit-user-select: none;
user-select: none;
cursor: pointer;
padding: 6px 8px;
display: flex;
max-width: 80%;
border-radius: 6px;
overflow: hidden;
transition: all 0.2s ease;
}

.checkbox:not(:last-child) {
margin-right: 6px;
}

.checkbox span {
float: left;
vertical-align: middle;
transform: translate3d(0, 0, 0);
}

.checkbox span:first-child {
position: relative;
width: 18px;
height: 18px;
min-width: 18px;
border-radius: 4px;
transform: scale(1);
border: 1px solid #cccfdb;
transition: all 0.2s ease;
box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
border: 2px solid black;
}

.checkbox span:first-child svg {
position: absolute;
top: 3px;
left: 2px;
fill: none;
stroke: #fff;
stroke-width: 2;
stroke-linecap: round;
stroke-linejoin: round;
stroke-dasharray: 16px;
stroke-dashoffset: 16px;
transition: all 0.3s ease;
transition-delay: 0.1s;
transform: translate3d(0, 0, 0);
}

.checkbox span:last-child {
padding-left: 8px;
line-height: 18px;
}

.checkbox:hover span:first-child {
border-color: #07f;
}

.input {
position: absolute;
visibility:hidden;
}

.input:checked+.checkbox span:first-child {
background: #07f;
border-color: #07f;
animation: wave 0.4s ease;
}

.input:checked+.checkbox span:first-child svg {
stroke-dashoffset: 0;
}
.inline-svg {
position: absolute;
width: 0;
height: 0;
pointer-events: none;
user-select: none;
}

@-moz-keyframes wave {
50% {
transform: scale(0.9);
}
}

@-webkit-keyframes wave {
50% {
transform: scale(0.9);
}
}

@-o-keyframes wave {
50% {
transform: scale(0.9);
}
}

@keyframes wave {
50% {
transform: scale(0.9);
}
}

@media (max-width: 320px) {
.container .title{
font-size: 2rem;
}
.link{
font-size: .9rem;
}
}